<div class="input-block" id="{{id}}">
    <label class="input-block__label" for="{{id}}">
        {{label}}
        <input class="input-block__input" type="{{type}}" name="{{id}}" required>
    </label>
</div>
