<div class="input-block" id="{{id}}">
    <label class="input-block__label" for="{{id}}">
        {{label}}
        <input class="input-block__input" type="{{type}}" name="{{id}}" autocomplete="on" value="{{value}}" required>
        <div class="input-block__error">
            <span class="error" id="{{id}}"></span>
        </div>
    </label>
</div>
