<div class="info-block__page-main info-block_page"
     style="background-image: url('{{poster}}');background-size: cover;">
    <div class="info-block__main-wrapper">
        <div class="info-block__description">
            <div class="info-block__title info-block__title-main">
                <h3 class="info-block__title-text">{{name}}</h3>
            </div>
            {{#unless is_free}}
                <span><a class="misc-item__subscribe misc-item">Требуется подписка</a></span>
            {{/unless}}
            <div class="info-block__misc info-block__misc-main">
                <p class="misc-item__rating misc-item" data-misc="rating" data-id="{{id}}">{{rating}}% оценили положительно</p>
                <p class="misc-item__year misc-item item-value">{{year}}</p>
                {{#if seasons}}
                    <p class="misc-item__season misc-item item-value">Сезоны: {{seasons}}</p>
                {{/if}}
            </div>
            <div class="info-block__about">
                <span>{{short_description}}</span>
            </div>
            <div class="info-block__country country-item hidden-item">
                <span class="country-item__title item-title">Страны:</span>
                <span class="country-item__value item-value">
                    {{#each countries}}
                        {{{this.name}}}{{#unless @last}},
                    {{/unless}}
                    {{/each}}
                </span>
            </div>
            <div class="info-block__genre genre-item hidden-item">
                <span class="genre-item__title item-title">Жанр:</span>
                <span class="genre-item__value item-value">
                    {{#each genres}}
                        <a href="/{{type}}?genre={{this.id}}" class="genre-item__value">
                            {{{this.name}}}{{#unless @last}},
                        </a>
                    {{/unless}}
                    {{/each}}
                </span>
            </div>
            <div class="info-block__cast cast-item hidden-item">
                <span class="cast-item__title item-title">Актеры:</span>
                <span class="cast-item__value item-value">
                    {{#each slicedCast}}
                        <a href="/actor/{{this.id}}" class="cast-item__link item-link">
                            {{{this.name}}}{{#unless @last}},
                        {{/unless}}
                        </a>
                    {{/each}}
                </span>
            </div>
            <div class="info-block__buttons content__buttons">
                {{#if seasons}}
                        <button class="info-block__play-btn item__play-btn item__btn" data-id="{{id}}" data-{{type}}-id="{{id}}" data-event="playContent" data-pay="{{is_free}}">
                            <img class="info-block__play-btn__img item__play-btn-img item__btn-img" src="/static/img/play2.svg" loading="lazy">
                        </button>
                {{else}}
                        <button class="info-block__play-btn item__play-btn item__btn" data-id="{{id}}" data-{{type}}-id="{{id}}" data-event="playContent" data-pay="{{is_free}}">
                            <img class="info-block__play-btn__img item__play-btn-img item__btn-img" src="/static/img/play2.svg" loading="lazy">
                        </button>
                {{/if}}
                <button class="info-block__add-btn add-btn" data-event="AddToFavourites" data-id="{{id}}"
                        data-status="{{is_favourite}}">
                    {{#if is_favourite}}
                        <img class="info-block__add-btn__img info-block__btn-img" src="/static/img/is-added.svg" loading="lazy">
                    {{else}}
                        <img class="info-block__add-btn__img info-block__btn-img" src="/static/img/add.svg" loading="lazy">
                    {{/if}}
                </button>

                <button class="info-block__like-btn like-btn" data-event="contentIsLiked" data-id="{{id}}"
                        data-status="{{is_liked}}">
                    {{{like}}}
                </button>

                <button class="info-block__dislike-btn dislike-btn" data-event="contentIsDisliked" data-id="{{id}}"
                        data-status="{{is_liked}}">
                    {{{dislike}}}
                </button>
            </div>
        </div>
        <div class="info-block__video-holder">
            <div class="info-block__video">
                <img src="{{host}}{{images}}/1920" loading="lazy">
                <div class="info-block__video-shade"></div>
            </div>
        </div>
    </div>
</div>
