<div class="info-block__page-main info-block_page"
     style="background-image: url('{{poster}}');background-size: cover;">
    <div class="info-block__main-wrapper">
        <div class="info-block__description">
            <div class="info-block__title">
                <h3 class="info-block__title-text">{{name}}</h3>
            </div>
            <div class="info-block__misc">
                <p class="misc-item__rating misc-item">Рейтинг {{rating}}</p>
                <p class="misc-item__year misc-item item-value">{{year}}</p>
                <p class="misc-item__season misc-item item-value">{{seasons}}</p>
            </div>
            <div class="info-block__about hidden-item">
                <span>{{short_description}}</span>
            </div>
            <div class="info-block__country country-item hidden-item">
                <span class="country-item__title item-title">Страна:</span>
                <span class="country-item__value item-value">
                    {{#each countries}}
                        {{{this.name}}}{{#unless @last}},
                        {{/unless}}
                    {{/each}}
                </span>
            </div>
            <div class="info-block__genre genre-item hidden-item">
                <span class="genre-item__title item-title">Жанр:</span>
                <span class="genre-item__value item-value">
                    {{#each genres}}
                        {{{this.name}}}{{#unless @last}},
                        {{/unless}}
                    {{/each}}
                </span>
            </div>
            <div class="info-block__cast cast-item hidden-item">
                <span class="cast-item__title item-title">Актеры:</span>
                <span class="cast-item__value item-value">
                    {{#each slicedCast}}
                        {{{this.name}}}{{#unless @last}},
                        {{/unless}}
                    {{/each}}
                </span>
            </div>
            <div class="info-block__buttons content__buttons">
                <button class="item__add-btn add-btn item__btn" data-event="AddToFavourites" data-id="{{id}}"
                        data-status="{{is_favourite}}">
                    {{#if is_favourite}}
                        <img class="item__add-btn__img item__btn-img" src="/static/img/is-added.svg">
                    {{else}}
                        <img class="item__add-btn__img item__btn-img" src="/static/img/add.svg">
                    {{/if}}
                </button>

                <button class="item__like-btn like-btn item__btn" data-event="contentIsLiked" data-id="{{id}}"
                        data-status="{{is_liked}}">
                    {{{like}}}
                </button>

                <button class="item__dislike-btn dislike-btn item__btn" data-event="contentIsDisliked" data-id="{{id}}"
                        data-status="{{is_liked}}">
                    {{{dislike}}}
                </button>
            </div>
        </div>
        <div class="info-block__video-holder">
            <div class="info-block__video">
                <img src="{{host}}{{images}}/large.png">
                <div class="info-block__video-shade"></div>
            </div>
        </div>
    </div>
</div>
