<div class="blocker"></div>
<div class="content-popup-wrapper">
    <div class="modal__video-holder">
        <div class="modal__video-wrapper">
            <img class="modal__video" src="{{host}}{{images}}/large.png">
            <div class="modal__video-shade"></div>
        </div>
        <div class="modal__name margin">
            <p>{{name}}</p>
            <p class="modal__origin-name">{{original_name}}</p>
        </div>
        <div class="modal__controller margin">
            <div class="modal__play">
                {{#if seasons}}
                    <a href="/watch/{{id}}?season=1&episode=1" data-id="{{content_id}}" data-tvshow-id="{{id}}">
                        <button class="preview__btn play-btn">
                            <img class="play-btn__img" src="/static/img/play.svg">
                            <p class="play-btn__text">Воспроизвести</p>
                        </button>
                    </a>
                {{else}}
                    <a href="/watch/{{id}}" data-id="{{content_id}}" data-movie-id="{{id}}">
                        <button class="preview__btn play-btn">
                            <img class="play-btn__img" src="/static/img/play.svg">
                            <p class="play-btn__text">Воспроизвести</p>
                        </button>
                    </a>
                {{/if}}
            </div>
            <div class="modal__sound">
                <button class="sound-btn">
                    <img class="sound-btn__img" src="/static/img/mute.svg">
                    <img class="sound-btn__img sound-btn_hidden" src="/static/img/sound-on.svg">
                </button>
            </div>
        </div>
    </div>
    <div class="modal__description margin">
        <div class="modal__description-left">
            <div class="modal__buttons content__buttons">
                <a href="/watch/{{id}}" data-event="pathChanged" data-id="{{id}}">
                    <button class="modal__play-btn play-btn item__btn">
                        <img class="item__play-btn__img item__btn-img" src="/static/img/play2.svg">
                    </button>
                </a>
                <button class="modal__add-btn add-btn item__btn" data-event="AddToFavourites" data-id="{{id}}"
                        data-status="{{is_favourite}}">
                    {{#if is_favourite}}
                        <img class="item__add-btn__img item__btn-img" src="/static/img/is-added.svg">
                    {{else}}
                        <img class="item__add-btn__img item__btn-img" src="/static/img/add.svg">
                    {{/if}}
                </button>

                <button class="modal__like-btn like-btn item__btn" data-event="contentIsLiked" data-id="{{id}}"
                        data-status="{{is_liked}}">
                    {{{like}}}
                </button>

                <button class="modal__dislike-btn dislike-btn item__btn" data-event="contentIsDisliked" data-id="{{id}}"
                        data-status="{{is_liked}}">
                    {{{dislike}}}
                </button>
            </div>
            <div class="modal__misc">
                <span class="misc-item__rating misc-item" data-misc="rating" data-id="{{id}}">{{rating}}% оценили положительно</span>
                <span class="misc-item__year misc-item item-value">{{year}}</span>
                {{#if seasons}}
                    <span class="misc-item__season misc-item item-value">Сезоны: {{seasons}}</span>
                {{/if}}
            </div>
            <div class="modal__about">
                <span>{{short_description}}</span>
            </div>
        </div>
        <div class="modal__description-right">
            <div class="modal__country country-item  ">
                <span class="modal__title item-title">Страны:</span>
                <span class="modal__value item-value">{{#each countries}}
                    {{{this.name}}}{{#unless @last}},
                {{/unless}}
                {{/each}}</span>
            </div>
            <div class="modal__genre genre-item  ">
                <span class="genre-item__title item-title">Жанр:</span>
                <span class="genre-item__value item-value">
                    {{#each genres}}
                        <a href="/{{type}}?genre={{this.id}}" class="genre-item__value">
                        {{{this.name}}}{{#unless @last}},
                        </a>
                    {{/unless}}
                    {{/each}}
                </span>
            </div>
            <div class="modal__cast cast-item">
                <span class="cast-item__title item-title">Актеры:</span>
                <span class="cast-item__value item-value">
                    {{#each slicedCast}}
                        <a href="/actor/{{this.id}}" class="cast-item__link item-link">
                            {{{this.name}}}{{#unless @last}},
                        {{/unless}}
                        </a>
                    {{/each}}
                </span>
            </div>
        </div>
    </div>
    {{#if moreLikeThis}}
        <div class="modal__headline margin">Похожее</div>
        <div class="modal__grid">
            {{{moreLikeThis}}}
        </div>
    {{/if}}
    <div class="modal__headline margin">Больше информации</div>
    <div class="modal__extra-description margin">
        <div class="modal__extra-description-left">
            <div class="modal__about">
                <span>{{description}}</span>
            </div>
        </div>
        <div class="modal__extra-description-right">
            <div class="modal__director director-item">
                <span class="director-item__title item-title">Режиссеры:</span>
                <span class="director-item__value item-value">
                    {{#each directors}}
                        {{{this.name}}}{{#unless @last}},
                    {{/unless}}
                    {{/each}}
                </span>
            </div>
            <div class="modal__cast cast-item">
                <span class="cast-item__title item-title">Актеры:</span>
                <span class="cast-item__value item-value">
                    {{#each actors}}
                        <a href="/actor/{{this.id}}" class="cast-item__link item-link">
                            {{{this.name}}}{{#unless @last}},
                        {{/unless}}
                        </a>
                    {{/each}}
                </span>
            </div>
        </div>
    </div>
    <div class="modal__close-btn">
        <button class="close-btn" data-event="">
            <img class="close-btn__img" src="/static/img/close.svg">
        </button>
    </div>
    {{#if episodes}}
        <div class="modal__season-buttons margin">
            <span class="modal__season-label">Сезоны</span>
            {{#each serialsSeasons}}
                <button class="modal__season-button" data-currentSeason="{{this.number}}"
                        data-event="seasonChanged">{{{this.number}}}
                </button>
            {{/each}}
        </div>
        <div class="modal__grid modal__season-grid">
            {{{episodes}}}
        </div>
    {{/if}}
</div>
