<div class="{{{contentItem}}}">
    <button class="item__card" data-event="{{{infoEvent}}}" data-id="{{content_id}}" data-{{type}}-id="{{id}}"
            data-modalstatus="contentPage" data-contentType="{{{type}}}">
        <span class="item__card__title">{{name}}</span>
        <img class="item__img" src="{{host}}{{images}}/small.png" loading="lazy">
    </button>
    <div class="content__item_hovered">
        <div class="item__buttons content__buttons">
            <button class="item__play-btn item__btn" data-id="{{id}}" data-{{type}}-id="{{id}}" data-event="playContent" data-pay="{{is_free}}">
                   <img class="item__play-btn-img item__btn-img" src="/static/img/play2.svg">
            </button>
            <button class="item__add-btn add-btn item__btn" data-event="AddToFavourites" data-id="{{content_id}}"
                    data-status="{{is_favourite}}">
                {{#if is_favourite}}
                    <img class="item__add-btn__img item__btn-img" src="/static/img/is-added.svg">
                {{else}}
                    <img class="item__add-btn__img item__btn-img" src="/static/img/add.svg">
                {{/if}}
            </button>

            <button class="item__like-btn like-btn item__btn" data-event="contentIsLiked" data-id="{{content_id}}"
                    data-status="{{is_liked}}">
                {{{like}}}
            </button>

            <button class="item__dislike-btn dislike-btn item__btn" data-event="contentIsDisliked" data-id="{{content_id}}"
                    data-status="{{is_liked}}">
                {{{dislike}}}
            </button>

            <button class="item__more-btn item__btn" href="/content/{{{id}}}"
                    data-event="{{{infoEvent}}}" data-id="{{content_id}}" data-modalstatus="contentPage"
                    data-contentType="{{{type}}}" data-{{type}}-id="{{id}}">
                <img class="more-btn__img item__btn-img" src="/static/img/more.svg">
            </button>
        </div>
    </div>
    <div class="slider-item__arrow hidden"><img class="slider-item__arrow-img" src="/static/img/arrow2.svg"></div>
</div>
