<div class="preview">
    <div class="preview__video-block">
        <div class="preview__video">
            <div><img src="{{preview.poster}}"></div>
            <div class="preview__shade"></div>
        </div>
    </div>
    <div class="preview__panel">
        <div class="preview__name pad-both">
            <p>{{preview.title}}</p>
        </div>
        <div class="preview__controller pad-both">
            <div class="preview__play">
                <a href="/watch/{{{preview.id}}}" data-event="pathChanged" data-id="{{preview.id}}" style="text-decoration: none">
                <button class="preview__btn play-btn">
                    <img class="play-btn__img" src="/static/img/play.svg">
                    <p class="play-btn__text">Воспроизвести</p>
                </button>
                </a>
            </div>
            <div class="preview__info">
                <a class="preview__btn info-btn" href="/content/{{{preview.id}}}" data-modalstatus="contentPage"
                        data-event="contentInfoRequested" data-id="{{preview.id}}">
                    <img class="info-btn__img" src="/static/img/info.svg">
                    <p class="info-btn__text" class="btn__title">Подробнее</p>
                </a>
            </div>
            <div class="preview__sound">
                <button class="sound-btn">
                    <img class="sound-btn__img" src="/static/img/mute.svg">
                    <img class="sound-btn__img sound-btn_hidden" src="/static/img/sound-on.svg">
                </button>
            </div>
        </div>
    </div>
</div>
