<div class="episode-modal__title">{{title}}</div>
<div class="episode-modal__content">
    <div class="episode-modal__img">
        <img src="{{host}}{{poster}}" loading="lazy">
    </div>
    <div class="episode-modal__name">
        <span>
            {{{name}}} S{{season}}:E{{episode}}
        </span>
    </div>
</div>

