<div class="episode-card__item">
    <button class="item__card" data-event="play" data-id="{{content_id}}" data-{{type}}-id="{{id}}"
            data-modalstatus="contentPage" data-contentType="{{{type}}}">
        <img class="item__img" src="{{host}}{{poster}}">
    </button>
    <div class="episode-card__label">{{{name}}}</div>
</div>
