<div class="episode-card__item">
    <button class="item__card" data-event="playContent" data-id="{{content_id}}" data-{{type}}-id="{{id}}" data-pay="{{is_free}}"
            data-modalstatus="contentPage" data-contentType="{{{type}}}">
        <img class="item__img" src="{{host}}{{poster}}" loading="lazy">
    </button>
    <div class="episode-card__label">{{{name}}}</div>
</div>
