<div class="content__slider-item">
    <img class="slider-item__img" src="{{poster}}">
    <div class="content__slider-item_hovered">
        <div class="slider-item__buttons">
            <a href="/watch/{{id}}" data-event="pathChanged" data-id="{{id}}">
                <button class="slider-item__play-btn slider__btn">
                    <img class="slider__play-btn-img slider__btn-img" src="/static/img/play2.svg">
                </button>
            </a>
            <button class="slider-item__add-btn slider__btn" data-event="contentIsAdded" data-id="{{id}}" data-status="{{isAdded}}">
                {{#if isAdded}}
                    <img class="slider-add-btn__img slider__btn-img" src="/static/img/is-added.svg">
                {{else}}
                    <img class="slider-add-btn__img slider__btn-img" src="/static/img/add.svg">
                {{/if}}
            </button>

            <button class="slider-item__like-btn slider__btn" data-event="contentIsLiked" data-id="{{id}}" data-status="{{statusLike.like}}">
                {{#if statusLike.like}}
                    <img class="slider-like-btn__img slider__btn-img" src="/static/img/is-liked.svg">
                {{else}}
                    <img class="slider-like-btn__img slider__btn-img" src="/static/img/like.svg">
                {{/if}}
            </button>

            <button class="slider-item__dislike-btn slider__btn" data-event="contentIsDisliked" data-id="{{id}}" data-status="{{statusLike.dislike}}">
                {{#if statusLike.dislike}}
                    <img class="slider-dislike-btn__img slider__btn-img" src="/static/img/is-disliked.svg">
                {{else}}
                    <img class="slider-dislike-btn__img slider__btn-img" src="/static/img/dislike.svg">
                {{/if}}
            </button>

            <button class="slider-item__more-btn slider__btn" data-event="contentInfoRequested" data-id="{{id}}">
                <img class="more-btn__img slider__btn-img" src="/static/img/more.svg">
            </button>
        </div>
    </div>
    <div class="slider-item__arrow hidden"><img class="slider-item__arrow-img" src="/static/img/arrow2.svg"></div>
</div>
