<div class="subscription__title-label">
    Подписка
</div>
{{#if subscription}}
    {{#if isActive}}
        {{#if isPaid}}
            <div class="subscription__prev-label subscription__label">
                Ваша подписка оплачена и действует до {{{date}}}
            </div>
            <button class="create-sub__btn subscription__btn">Оплатить еще месяц подписки</button>
            <button class="subscription__btn cancel-sub__btn">Отписаться</button>
        {{else}}
            <div class="subscription__prev-label subscription__label">
                Ваша подписка закончилась {{{date}}}
            </div>
            <button class="create-sub__btn subscription__btn">Оплатить еще месяц подписки</button>
            <button class="subscription__btn cancel-sub__btn">Отписаться</button>
        {{/if}}
    {{else}}
        <div class="subscription__prev-label subscription__label">
            В данный момент ваша подписка неактивна. Восстановить?
        </div>
        <button class="subscription__btn refresh-sub__btn">Восстановить подписку</button>
    {{/if}}
{{else}}
    <div class="subscription__labels">
        <div class="subscription__price">
            <div class="subscription__price-label">
                300 ₽
            </div>
            <div class="subscription__misc-label subscription__mth">
                месяц
            </div>
        </div>
        <div class="subscription__misc-label">
            Наличие подписки дает доступ к коллекции из более N фильмов и сериалов в лучшем качестве
        </div>
    </div>
    {{{PaymentForm}}}
{{/if}}
