<div class="info-block__page-details info-block_page"
     style="background-image: url('{{host}}{{images}}/large.png');background-size: cover;">
    <img class="details-background" src="" alt="">
    <div class="info-block__details-wrapper">
        <div class="info-block__left">
            <div class="info-block__title-details">
                <h3 class="info-block__title-text">{{{name}}}</h3>
            </div>
            <div class="info-block__origin-title origin-item">
                <span class="origin-item__title item-title">Оригинальное название:</span>
                <span class="origin-item__value item-value">{{{original_name}}}</span>
            </div>
            <div class="info-block__misc misc-item">
                <span class="misc-item__rating">{{rating}}% оценили положительно</span>
                <span class="misc-item__year item-value">{{year}}</span>
                <span class="misc-item__season item-value">Сезоны: {{seasons}}</span>
            </div>
            <div class="info-block__full-about">
                <span>{{{description}}}
                </span>
            </div>
        </div>
        <div class="info-block__right">
            <div class="info-block__country country-item">
                <span class="country-item__title item-title">Страны:</span>
                <span class="country-item__value item-value">
                    {{#each countries}}
                        {{{this.name}}}{{#unless @last}},
                        {{/unless}}
                    {{/each}}
                </span>
            </div>
            <div class="info-block__genre genre-item">
                <span class="genre-item__title item-title">Жанр:</span>
                <span class="genre-item__value item-value">
                    {{#each genres}}
                        {{{this.name}}}{{#unless @last}},
                        {{/unless}}
                    {{/each}}
                </span>
            </div>
            <div class="info-block__director director-item">
                <span class="director-item__title item-title">Режиссеры:</span>
                <span class="director-item__value item-value">
                    {{#each directors}}
                        {{{this.name}}}{{#unless @last}},
                        {{/unless}}
                    {{/each}}
                </span>
            </div>
            <div class="info-block__cast cast-item">
                <span class="cast-item__title item-title">Актеры:</span>
                <span class="cast-item__value item-value">
                    {{#each actors}}
                        <a href="/actor/{{this.id}}" class="cast-item__link item-link">
                            {{{this.name}}}{{#unless @last}},
                            {{/unless}}
                        </a>
                    {{/each}}
                </span>
            </div>
        </div>
    </div>
</div>
