<div class="watch__page">
    <a data-event="redirectBack">
    <button class="watch__back-btn">
        <img class="watch__back-btn__img" src="/static/img/back.svg">
    </button>
    </a>
    <div class="watch__wrapper">
        <div class="watch__video-wrapper">
            {{#if type}}
                <video class="video" id='video' src="{{host}}{{video}}" poster="{{host}}{{images}}/large.png" data-event="videoPlay" preload="auto" autoplay="true" loop="true">
                </video>
            {{else}}
                <video class="video" id='video' src="{{host}}{{video}}" poster="{{host}}{{images}}" data-event="videoPlay" preload="auto" autoplay="true" loop="true">
                </video>
            {{/if}}
        </div>
    </div>
    {{{PlayerBar}}}
</div>
